// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** Background color **/
  --ion-background-color: #ffffff;

  /** primary **/
  --ion-color-primary: #f8ad00;
  --ion-color-primary-rgb: 248, 173, 0; // 正確なRGB値に修正
  --ion-color-primary-contrast: #000000; // コントラスト色は黒が適切
  --ion-color-primary-contrast-rgb: 0, 0, 0; // RGB値での黒
  --ion-color-primary-shade: #d99800; // 基本色よりわずかに暗く
  --ion-color-primary-tint: #f9ae1a; // 基本色よりわずかに明るく

  /** secondary **/
  --ion-color-secondary: #4a90e2;
  --ion-color-secondary-rgb: 74, 144, 226;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4281c3;
  --ion-color-secondary-tint: #5aa1e6;

  /** tertiary **/
  --ion-color-tertiary: #50e3c2;
  --ion-color-tertiary-rgb: 80, 227, 194;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #46c7aa;
  --ion-color-tertiary-tint: #66e7cb;

  /** success **/
  --ion-color-success: #7ed321;
  --ion-color-success-rgb: 126, 211, 33;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #6cb91c;
  --ion-color-success-tint: #8fda47;

  /** warning **/
  --ion-color-warning: #ff9f1c;
  --ion-color-warning-rgb: 255, 159, 28;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e68d19;
  --ion-color-warning-tint: #ffa833;

  /** danger **/
  --ion-color-danger: #d0021b;
  --ion-color-danger-rgb: 208, 2, 27;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b20217;
  --ion-color-danger-tint: #dc2136;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/** @todo 一旦ライトモードのみの修正 */
// @media (prefers-color-scheme: dark) {

//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */
//   body {
//     --ion-color-primary: #FFEA8C;
//     --ion-color-primary-rgb: 255, 234, 140; // 正確なRGB値に修正
//     --ion-color-primary-contrast: #000000; // コントラストは黒
//     --ion-color-primary-contrast-rgb: 0, 0, 0; // 黒のRGB値
//     --ion-color-primary-shade: #e6cf7d; // ベースカラーよりわずかに暗く
//     --ion-color-primary-tint: #ffef9f; // ベースカラーよりわずかに明るく

//     --ion-color-secondary: #ffb347;
//     --ion-color-secondary-rgb: 255, 179, 71;
//     --ion-color-secondary-contrast: #000000;
//     --ion-color-secondary-contrast-rgb: 0, 0, 0;
//     --ion-color-secondary-shade: #e6a03d;
//     --ion-color-secondary-tint: #ffc45b;

//     --ion-color-tertiary: #ff6961;
//     --ion-color-tertiary-rgb: 255, 105, 97;
//     --ion-color-tertiary-contrast: #000000;
//     --ion-color-tertiary-contrast-rgb: 0, 0, 0;
//     --ion-color-tertiary-shade: #e65b54;
//     --ion-color-tertiary-tint: #ff7d75;

//     --ion-color-success: #77dd77;
//     --ion-color-success-rgb: 119, 221, 119;
//     --ion-color-success-contrast: #000000;
//     --ion-color-success-contrast-rgb: 0, 0, 0;
//     --ion-color-success-shade: #68c368;
//     --ion-color-success-tint: #89e589;
//     --ion-color-warning: #ffcc00;
//     --ion-color-warning-rgb: 255, 204, 0;
//     --ion-color-warning-contrast: #000000;
//     --ion-color-warning-contrast-rgb: 0, 0, 0;
//     --ion-color-warning-shade: #e6b800;
//     --ion-color-warning-tint: #ffd31a;
//     --ion-color-danger: #ff6f61;
//     --ion-color-danger-rgb: 255, 111, 97;
//     --ion-color-danger-contrast: #000000;
//     --ion-color-danger-contrast-rgb: 0, 0, 0;
//     --ion-color-danger-shade: #e66254;
//     --ion-color-danger-tint: #ff8275;

//     --ion-color-dark: #1e1e1e;
//     --ion-color-dark-rgb: 30, 30, 30;
//     --ion-color-dark-contrast: #ffffff;
//     --ion-color-dark-contrast-rgb: 255, 255, 255;
//     --ion-color-dark-shade: #181818;
//     --ion-color-dark-tint: #2a2a2a;

//     --ion-color-medium: #666666;
//     --ion-color-medium-rgb: 102, 102, 102;
//     --ion-color-medium-contrast: #ffffff;
//     --ion-color-medium-contrast-rgb: 255, 255, 255;
//     --ion-color-medium-shade: #585858;
//     --ion-color-medium-tint: #787878;

//     --ion-color-light: #f5f5f5;
//     --ion-color-light-rgb: 245, 245, 245;
//     --ion-color-light-contrast: #000000;
//     --ion-color-light-contrast-rgb: 0, 0, 0;
//     --ion-color-light-shade: #dcdcdc;
//     --ion-color-light-tint: #f7f7f7;
//   }

//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0, 0, 0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255, 255, 255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-500: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-700: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-item-background: #000000;

//     --ion-card-background: #1c1c1d;
//   }

//   .ios ion-modal {
//     --ion-background-color: var(--ion-color-step-100);
//     --ion-toolbar-background: var(--ion-color-step-150);
//     --ion-toolbar-border-color: var(--ion-color-step-250);
//   }

//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18, 18, 18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255, 255, 255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-500: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-700: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1e1e1e;

//     --ion-toolbar-background: #1f1f1f;

//     --ion-tab-bar-background: #1f1f1f;

//     --ion-card-background: #1e1e1e;
//   }
// }

html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}